.introducao{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
  align-items: center;
  margin-bottom: 100px;
}

.introducao h5{
  font-size: 2rem;
  margin-bottom: 10px;
}

.introducao h1 {
  font-size: 4.75rem;
  line-height: 1.125;
  margin-bottom: 60px;
}

.introducao p {
  font-size: 1.5rem;
  color: #4A4A4A;
}

@media (max-width: 1200px){

  .introducao{
    gap: 60px;
  }

  .introducao h1 {
    font-size: 3.7rem;
  }

  .introducao p {
    font-size: 1.3rem;
  }
}



@media (max-width: 1000px){
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2.5rem;
  }

  .introducao h5 {
    font-size: 1.5rem;
  }

  .introducao p {
    font-size: 1rem;
  }
}


@media (max-width: 800px){
  .introducao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .introducao img{
    display: none;
  }

}